*{
    margin: 0;
    padding: 0;
}
.footer{
    background-color: grey;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 14px;
    font-size: large;
    margin-top: 450px;
}